<footer class="site-footer">

  <div class="wrapper">

    <center>
    <a class="link" href="{{ site.baseurl }}/changelog/">ChangeLog</a> /
		<a class="link" href="{{ site.baseurl }}/about/">About</a>
    <br/>
    <p>
    <i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
    <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
    <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a> 
    </p>
    <span><script>document.write(new Date().getFullYear());</script></span>
    <span>&copy;</span><a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		</iframe>

    </center>
    
  </div>

</footer>
